{% extends '::base.html.twig' %}

{% block body %}
    {{ google_map_container(map) }}

    <div id="controls" style="display: none; z-index: 1;">
        <div id="searchControl"
             style="margin-top: 25px; margin-left: 25px;">
            <div>
                <input type="text" name="query"
                       style="border: none; height: 1.25em; font-size: 15px; font-weight: 300; width: 360px;">
                <button style="background-color: blue; border: none; border-radius: 2px; color: white; height: 1.25em; width: 40px; padding-top: 5px; box-sizing: content-box;">Zoek</button>
            </div>
        </div>

        <div id="filterControl" style="margin-left: 25px; margin-top: 20px; height: 60%; width: 360px; background-color: white;">
            <ul>
                <li><input type="checkbox" name="wireless-internet"> Draadloos Internet</li>
                <li><input type="checkbox" name="wired-internet"> Bedraad Internet</li>
                <li><input type="checkbox" name="wallsocket"> Stopcontact</li>
                <li><input type="checkbox" name="food"> Food/snacks</li>
                <li><input type="checkbox" name="silent"> Stil</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ google_map_js(map) }}

    <script type="text/javascript">
        function getUserLocation()
        {
            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(zoomToPosition);
            }
        }

        function zoomToPosition(position)
        {
            var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            rwMap.setCenter(latlng);
            rwMap.setZoom(12);
        }

        function getLocations(bounds)
        {
            var url = '{{ path('get_locations') }}?minLat='+bounds+'&minLon=&maxLat=&maxLon=';
            $.getJSON(url, function(locations)
                {
                    console.log(locations);
                    locations.forEach(function(location) {
                        var latlng = new google.maps.LatLng(location.latitude, location.longitude);

                        var contentString = '<div"><strong>'+location.name+'</strong></div>';

                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: rwMap,
                            title: location.name
                        });

                        google.maps.event.addListener(marker, 'click', function() {
                            infowindow.open(rwMap, marker);
                        });
                    });
                }
            );
        }

        function init()
        {
            getUserLocation()
            var controls = document.getElementById("controls");
            controls.style.display = 'block';
            rwMap.controls[google.maps.ControlPosition.TOP_LEFT].push(controls);
        }

        google.maps.event.addDomListener(window, 'load', init);
        google.maps.event.addListener(rwMap, 'center_changed', function() {
            getLocations(rwMap.getBounds());
        });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ google_map_css(map) }}
    <style>
        #map_canvas {
            height : 100% !important;
            width : 100%;
            top : 0;
            left : 0;
            position : absolute;
            z-index : 200;
        }
    </style>
{% endblock %}